Notification {
    color: #000000;
    background: transparent;
    border: 2px solid transparent;
    border-image: url(assets/menus/frame.svg);
    min-width: 120px;
}

QLabel {
    color: #000000;
}

#appLabel {
    font-weight: bold;
}

#closeButton {
    color: #000000;
    background: transparent;
    border: 2px solid transparent;
    border-image: none;
    margin: 0px;
    padding: 2px;
    qproperty-icon: url(assets/icons/cancel.svg);
}

#closeButton:hover {
    border-image: url(assets/buttons/button-hover.svg);
}

#closeButton:pressed {
    border-image: url(assets/buttons/button-pressed.svg);
}

